<div class="row">
    <div class="col">
        <h3 class="text-primary mt-3 mb-3">Modificar Cliente</h3>
        <form #addForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
                <label for="clientes">Buscar Cliente:</label>
                <input type="text" class="form-control" placeholder="Cliente:" [(ngModel)]="cliente"
                    [ngbTypeahead]="searchCliente" [inputFormatter]="formatter" [resultFormatter]="formatter"
                    [ngModelOptions]="{standalone: true}" [editable]='false' required (change)="setDatos()" />
            </div>
            <hr>
            <div *ngIf="cliente != null && cliente.id > 0">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre:" class="form-control" #nombre="ngModel"
                        [(ngModel)]="datos.nombre" required>
                    <small *ngIf="!nombre.valid && nombre.touched" class="text-danger">
                        <b>Escribe un nombre válido...</b>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" placeholder="Dirección:" class="form-control"
                        #direccion="ngModel" [(ngModel)]="datos.direccion">
                </div>
                <div class="form-group">
                    <input type="text" name="representante" placeholder="Representante:" class="form-control"
                        #representante="ngModel" [(ngModel)]="datos.representante">
                </div>
                <div class="form-group">
                    <input type="tel" name="telefono" placeholder="Teléfono:" class="form-control" #telefono="ngModel"
                        [(ngModel)]="datos.telefono">
                    <small *ngIf="!validarTelefono() && telefono.touched" class="text-danger">
                        <b>Escribe un teléfono válido...</b>
                    </small>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email:" class="form-control" #email="ngModel"
                        [(ngModel)]="datos.email">
                    <small *ngIf="!validarEmail() && email.touched" class="text-danger">
                        <b>Escribe un correo válido...</b>
                    </small>
                </div>
                <div class="form-group">
                    <input type="text" name="rnc" placeholder="RNC:" class="form-control"
                        #rnc="ngModel" [(ngModel)]="datos.rnc">
                </div>
                <div class="form-group">
                    <input type="text" name="ncf" placeholder="NCF:" class="form-control"
                        #ncf="ngModel" [(ngModel)]="datos.ncf">
                </div>

                <div class="form-group" *ngIf="datos.logotipo != null && datos.logotipo.length > 0">
                    <h4><b>Logotipo Actual:</b></h4>
                    <img [src]="_dataurl+'img/logotipos-clientes/'+datos.logotipo" alt="logotipo" style="max-width: 250px;">
                </div>

                <div class="my-3">
                    <h4 class="text-primary">Cargar Logotipo:</h4>
                    <angular-file-uploader [config]="afuConfigImages" (ApiResponse)="imageUpload($event)" #fileUpload>
                    </angular-file-uploader>
                    <hr>
                </div>

                <button class="btn btn-success mt-1 mb-5 w-100" type="submit"
                    [disabled]="!addForm.valid">Modificar</button>
            </div>
        </form>
    </div>
</div>