<h3 class="text-primary mt-3 mb-3">Modificar propiedad</h3>
<form #addForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="pro != null">
    <h5>Código: <span class="text-danger">{{pro.codigo}}</span></h5>
    <a [routerLink]="['/multimedia', pro.codigo]" class="btn-link">
        <b><fa-icon [icon]="faPhotoVideo"></fa-icon> Multimedia</b>
    </a>
    <div class="form-group mt-2">
        <input type="text" name="nombre" placeholder="Nombre:" class="form-control" #nombre="ngModel"
            [(ngModel)]="pro.nombre" required>
        <small *ngIf="!nombre.valid && nombre.touched" class="text-danger">
            <b>Escribe un nombre válido...</b>
        </small>
    </div>
    <div class="form-group">
        <input type="text" name="direccion" placeholder="Direccion:" class="form-control" #direccion="ngModel"
            [(ngModel)]="pro.direccion">
    </div>
    <div class="form-group">
        <textarea name="descripcion" placeholder="Descripción:" class="form-control" #descripcion="ngModel"
            [(ngModel)]="pro.descripcion"></textarea>
    </div>
    <div class="form-group" *ngIf="monedas != null">
        <select name="moneda" class="custom-select custom-select-sm" #moneda="ngModel" [(ngModel)]="monedaID">
            <option *ngFor="let data of monedas; let i = index" [value]="data.id">{{data.nombre}}</option>
        </select>
        <input type="text" name="precio" placeholder="Precio:" class="form-control" #precio="ngModel"
            [(ngModel)]="pro.precio">
    </div>
    <div class="form-group">
        <select name="habitaciones" class="form-control" #habitaciones="ngModel" [(ngModel)]="pro.habitaciones">
            <option value="0">Habitaciones</option>
            <option *ngFor="let hb of habitaciones_banos" [value]="hb">{{hb}}</option>
        </select>
    </div> 
    <div class="form-group">
        <select name="banos" class="form-control" #banos="ngModel" [(ngModel)]="pro.banos">
            <option value="0">Baños</option>
            <option *ngFor="let hb of habitaciones_banos" [value]="hb">{{hb}}</option>
        </select>
    </div>   
    <div class="form-group" *ngIf="medidas != null">        
        <select name="medida" class="custom-select custom-select-sm" #medida="ngModel" [(ngModel)]="medidaID" (change)="test()">
            <option *ngFor="let data of medidas" [value]="data.id">{{data.medida}}</option>
        </select>        
        <input type="text" name="area" placeholder="Area:" class="form-control" #area="ngModel"
            [(ngModel)]="pro.area">
    </div>
    <div class="form-group" *ngIf="estados != null">
        <select name="estado" class="form-control" #estado="ngModel" [(ngModel)]="pro.estadoID">
            <option value="0">Selecciona un estado</option>
            <option *ngFor="let data of estados" [value]="data.id">{{data.nombre}}</option>     
        </select>
        <small *ngIf="pro.estadoID == 0" class="text-danger">
            <b>Debes seleccionar un estado...</b>
        </small>
    </div>    
    <div class="form-group" *ngIf="categorias != null">
        <select name="categoria" class="form-control" #categoria="ngModel" [(ngModel)]="pro.categoriaID">
            <option value="0">Selecciona una categoría</option>
            <option *ngFor="let data of categorias" [value]="data.id">{{data.nombre}}</option> 
        </select>
        <small *ngIf="pro.categoriaID == 0" class="text-danger">
            <b>Debes seleccionar una categoria...</b>
        </small>
    </div>
    <div class="form-group" *ngIf="ubicaciones != null">
        <select name="ubicacion" class="form-control" #ubicacion="ngModel" [(ngModel)]="pro.ubicacionID">
            <option value="0">Selecciona una ubicación</option>
            <option *ngFor="let data of ubicaciones" [value]="data.id">{{data.nombre}}</option>
        </select>
        <small *ngIf="pro.ubicacionID == 0" class="text-danger">
            <b>Debes seleccionar una ubicación...</b>
        </small>
    </div>
    <div class="btn-group btn-group-toggle mb-3 w-100" data-toggle="buttons" (change)="onChange($event)">        
        <label class="btn btn-outline-primary">
            <input type="radio" name="opcion" id="0" autocomplete="off" 
                [value]="'0'" [checked]="opcion==0">Ninguno
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" name="opcion" id="1" #destacado autocomplete="off"
                [value]="'1'" [checked]="opcion==1">Destacado
        </label>  
        <label class="btn btn-outline-primary">
            <input type="radio" name="opcion" id="2" autocomplete="off" 
                [value]="'2'" [checked]="opcion==2">Vendido
        </label>
        <label class="btn btn-outline-primary">
            <input type="radio" name="opcion" id="3" autocomplete="off"
                [value]="'3'" [checked]="opcion==3">Alquilado
        </label>                                       
    </div>

    <hr>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" id="slider" class="custom-control-input"
            [(ngModel)]="pro.slider"
            [ngModelOptions]="{standalone: true}">
        <label for="slider" class="custom-control-label" style="font-size: 22px;"><b>Slider</b></label>                        
    </div>

    <hr>

    <button class="btn btn-success mt-2 mb-5 w-100" type="submit" 
        [disabled]="!addForm.valid || pro.estadoID==0 || pro.categoriaID==0 || pro.ubicacionID==0">Modificar</button>  
</form>

