<app-login *ngIf="usuario == null"></app-login>
<div class="container-fluid" *ngIf="usuario != null">
    <app-header *ngIf="rol=='Administrador'"></app-header>
    <div class="row d-flex justify-content-between">
        <app-barra-izquierda class="barra-izquierda" *ngIf="rol=='Administrador'"></app-barra-izquierda>
        <div class="col" *ngIf="rol=='Administrador'">
            <router-outlet></router-outlet>
        </div>     
        <div class="col" *ngIf="rol!='Administrador'">
            <app-login></app-login>
        </div>      
    </div>    
</div>