<div class="row">
    <div class="col">
        <h3 class="text-primary mt-3 mb-3">Deudas Inquilino</h3>
        <form #addForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
                <label for="inquilinos">Buscar Inquilino:</label>
                <input type="text" class="form-control" placeholder="Inquilino:" [(ngModel)]="inquilino"
                    [ngbTypeahead]="searchInquilino" [inputFormatter]="formatter" [resultFormatter]="formatter"
                    [ngModelOptions]="{standalone: true}" [editable]='false' (change)="updateOrModify()" required />
            </div>
            <div class="form-group" *ngIf="inquilino != null && inquilino.id > 0">
                <input type="number" name="deudaTotal" placeholder="Deuda Total:" class="form-control" #deudaTotal="ngModel"
                    [(ngModel)]="datos.deudaTotal" required>
                <small *ngIf="!deudaTotal.valid && deudaTotal.touched" class="text-danger">
                    <b>Escribe una deuda válida...</b>
                </small>
            </div>
            <div class="form-group" *ngIf="inquilino != null && inquilino.id > 0">
                <select name="periodo" class="custom-select custom-select" #periodo="ngModel" [(ngModel)]="datos.periodo">
                    <option [value]="0" class="text-danger">Selecciona el periodo:</option>
                    <option *ngFor="let data of periodos" [value]="data.id">{{data.descripcion}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="inquilino != null && inquilino.id > 0">
                <textarea name="descripcion" placeholder="Descripción:" class="form-control" #descripcion="ngModel"
                    [(ngModel)]="datos.descripcion"></textarea>
            </div>

            <button class="btn btn-primary mt-1 mb-5 w-100" type="submit" 
                [disabled]="!addForm.valid || datos.periodo == 0 || inquilino == null" 
                *ngIf="inquilino != null && inquilino.id > 0 && !isModify">
                Guardar
            </button>
            <button class="btn btn-success mt-1 mb-5 w-100" type="submit" 
                [disabled]="!addForm.valid || datos.periodo == 0 || inquilino == null" 
                *ngIf="inquilino != null && inquilino.id > 0 && isModify">
                Modificar
            </button>
        </form>
    </div>
</div>