<div class="container p-0 m-0">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-muted text-center">Propiedades</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tab1" class="nav-link active" data-toggle="tab">Ver</a>                        
                </li>
                <li class="nav-item">
                    <a href="#tab2" class="nav-link" data-toggle="tab">Agregar</a>                        
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" role="tabpanel">
                    <app-view-propiedades></app-view-propiedades>
                </div>
                <div class="tab-pane add-propiedad" id="tab2" role="tabpanel">
                    <app-add-propiedad></app-add-propiedad>
                </div>
            </div>
        </div>
    </div>
</div>